.App {
  text-align: center;
  padding: 20px 50px 10px 50px;
}

.Title {
  font-weight: 1000;
  font-size: 60px;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.TodoListContainer {
  align-items: stretch;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(196, 136, 231, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*Creat List Item header section*/

.CreateTodoUpper {
  display: flex;
  padding: 15px;
  border-bottom: solid 1px #E8E8E8;
}

.CreateTodoUpper-form {
  flex-grow: 1;
  display: flex;
}

.CreateTodoUpper-form-input {
  flex-grow: 1;
  font-size: 15px;
  border: 0;
  font-style: italic;
}
.CreateTodoUpper-form-input:focus {
  outline: none;
}

/*To Do List Item section*/

.TodoList{
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.ToDoListItem {
  padding: 15px;
  border-bottom: solid 1px #E8E8E8;
  display: flex;
}


.ToDoListItem-Delete{
  color: red;
  text-align: right;
}

.ToDoListItem-Label{
  flex-grow: 15;
  text-align: left;
  padding-left:4px;

}
.ToDoListItem-Label-Strike {
  text-decoration: line-through;
  color: grey;
  flex-grow: 15;
  text-align: left;
  padding-left:4px;
}

.ToDoListItem-Edit{
  flex-grow: 15;
  text-align: left;
  padding-left:4px;
  font-style:oblique
}

/*Footer*/

.Footer{
  padding: 15px;
  border-bottom: solid 1px #E8E8E8;
  display: flex;
  justify-content: space-between;
}

.Footer-Filter-Btn-Container{
  display: flex;
  justify-content: space-between;
}

.Footer-Filter-Btn{
  background-color: white;
  border: none;
}

.Footer-Filter-Btn-Selected{
  background-color: white;
  border: solid black 1px;
}

.Footer-Clear-Completed-Btn{
  background-color: white;
  border: none;
}

.Footer-Clear-Completed-Btn-hidden{
  background-color: white;
  border: none;
  visibility: hidden;
}
